body {
  margin: 0;
  line-height: 1.15;
  font-size: 87.5%;
  background-color: #f1f5f8;
}

.App-header {
  text-align: center;
  display: flex;
  background-color: #2f365f;
  padding: 0.5rem 1rem 0.5rem 0;
}

.fabars {
  display: block;
  padding: 1rem;
  fill: #fff;
}
.search-area {
  flex-grow: 1;
  align-items: center;
  display: flex;
  border-width: 0;
  border-style: solid;
  border-color: #dae1e7;
  position: relative;
}

.search-area ::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: #dae1e7;
}

.search-area input {
  background-color: #38406c;
  color: #fff;
  width: 100%;
  padding: 0.25rem 2.5rem 0.25rem;
  border-color: transparent;
}
.fasearch {
  position: absolute;
  fill: #fff;
  left: 0.8rem;
}

.navbar {
  display: flex;
  background-color: #2f365f;
  color: #fff;
}

ul,
li {
  list-style: none;
  margin-top: 0.5rem;
}

ul {
  padding-left: 1rem;
  margin: 0;
}

main {
  padding: 1rem;
}
main header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main header h1 {
  font-weight: 400;
  font-size: 1.5rem;
}

main header h2 {
  color: #8795a1;
  font-size: 1rem;
  font-weight: 400;
}

header button {
  color: #fff;
  border-radius: 50px;
  background-color: #5661b3;
  cursor: pointer;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  border: none;
}

.tab {
  display: flex;
  border-bottom: 2px solid #dae1e7;
  width: 100vw;
  left: -1rem;
  position: relative;
  margin-bottom: 1rem;
}
.tab li {
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
}
.tab li:hover {
  border-bottom: 2px solid #6574cd !important;
}

.tabhover {
  border-bottom: 2px solid #6574cd;
}

.author-table {
  background-color: #fff;
  line-height: 2;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  box-sizing: border-box;
}
.author-table table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.875rem;
}
.author-table thead {
  color: #6574cd;
}
.author-table tr {
  border-bottom: 2px solid #dae1e7;
  border-width: 1px;
}
.author-table tr:last-child:not(:first-child) {
  border-width: 0px;
}
.author-table td:first-child {
  text-align: left;
}
.author-table td:nth-child(2) {
  text-align: center;
}
.author-table td:last-child {
  text-align: right;
}

.read-stats {
  background-color: #fff;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 1.5rem;
  box-sizing: border-box;
  margin-top: 1.5rem;
}

.read-stats-upper {
  display: flex;
  justify-content: space-between;
}
.purple-text {
  color: #6574cd;
}

.book {
  width: 100%;
  padding: 1rem;
  align-items: center;
  display: flex;
  box-sizing: border-box;
}
.book img {
  width: 33%;
}
.book-content {
  width: 66%;

  margin-left: 0.75rem;
}
.book-content select {
  width: 100%;
  appearance: none;
  font-size: 0.875rem;
  padding: 0.25rem 0.75rem;
  line-height: 1.5;
  border-width: 1px;
  border-radius: 0.25rem;
}

.dropdown {
  position: relative;
  display: block;
}

.fa-caret {
  color: #606f7b;
  right: 0;
  padding-left: 0.5rem;
  bottom: 0;
  position: absolute;
  padding: 0.5rem;
}

.book button {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  border: none;
}

.bookList {
  width: 100vw;
  left: -1rem;
  position: relative;
}

@media (min-width: 600px) {
  .library {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .book.common {
    flex-direction: column;
  }

 
  .book.common .description
  {
    display: none;
  }
  .common h3 {
    font-size: 0.8rem;
    display: block;
    float: left;
  }
  .common img, .common .book-content {
    width: 100%;
  }
  .common select {
    border-radius: 5rem;
    font-size: .7rem;
    line-height: 1;
  }
}
